.container {
    width:90%;
    text-align:center;
    margin: 0 auto 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.form-part {
    margin: 0 auto 0 auto;
    height:40%;
}

.meme-part {
    margin: 0 auto 0 auto;
    padding-top: 35%; 
    height:60%;
    opacity: 1;
    overflow: hidden;
}

img{
    max-width: 70%;
    max-height: 25%;
}

.meme{
    border-top: 0.5px solid grey;
}


.memeform .container {
    background-color: #4f4f4f;
}