.container {
    width:90%;
    text-align:center;
    margin: 0 auto 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.form-part {
    margin: 0 auto 0 auto;
    height:40%;
    position: fixed;
    top: 0;
    width: 100%;
}

.meme-part {
    height:60%;
    overflow: hidden;
}

.meme{
    border-top: 0.5px solid grey;
}